/*======================================
            MAIN-CONTENT
======================================*/
#main-content {
    background-color: #e7e8f3;
    height: 100%;
    padding: 0rem 3rem;
    width: calc(100% / 4 * 2 + 2rem);

}

#main-content header {
    height: 5%;
    margin-top: 1.2rem;
    display: flex;
    align-items: center;
}

.main-content__header-nav i {
    width: 2rem;
    font-size: 1.6rem;
}

.main-content__header-nav i:hover {
    color: #000;
    cursor: pointer;
    transition: .25s linear;
}

.main-content__header-nav i:last-child {
    margin: 0 2.5rem
}

.main-content__search-form {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 1rem 1.6rem;
    background-color: #fff;
    border-radius: 2.5rem;
}

.search-btn {
    font-size: 1.6rem;
}

.search-input {
    border: none;
    outline: none;
    padding: 0 1rem;
    flex: 1;
}

.main-content__des {
    display: block;
    padding-top: 2rem;
    padding-bottom: .3rem
}

.main-content__trend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.8rem;
}

.main-content__trend-more span {
    margin-left: .5rem
}

.btn-hover:hover {
    color: #fff !important;
    transition: .2s;
    cursor: pointer;
    background-color: #000;
    padding: .1rem 1rem;
    border-radius: 20px;
}

.main-content__trend-title {
    font-size: 1.6rem;
    color: #000;
    font-weight: 600;
}

.main-content__banner {
    height: 15rem;
    padding: 2.5rem 2rem;
    border-radius: .6rem;
    position: relative;
    background: linear-gradient(to right, white, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0)), url(../images/banner.jpg) no-repeat center center/cover;
}

.main-content__banner-des {
    font-size: 1.5rem;
    width: 8rem;
    color: #000;
}

.main-content__banner-btn button {
    padding: .6rem 1.6rem;
    margin-top: 1.6rem;
    font-size: 1rem;
    border-radius: 2rem;
    outline: none;
    border: none;
    margin-right: .8rem;
    cursor: pointer;
}

.main-content__banner-btn button:last-child {
    margin: unset;
}

.bars-left,
.bars-right {
    display: none;
}

.play-btn {
    background-color: #000;
    color: #fff;
}

.main-content__banner-btn .follow-btn {
    background-color: transparent;
    border: .1rem solid #000;
}

.main-content__banner-btn button:hover {
    opacity: .6;
    transition: .2s;
}

.main-content__view {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    color: #fff;
    font-weight: 200;
    font-size: 1.1rem
}

.main-content__view p {
    font-weight: 400;
    text-align: right;
}

.my-playlist {
    height: 80%;
    /* height: 25rem;
    max-height: 25rem; */

}

.playlist-list {
    height: 80%;
    overflow-x: auto;
}

.playlist-list::-webkit-scrollbar {
    width: 1px;
}

.playlist-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.playlist-list::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }

.playlist-head {
    height: 10%;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.3rem
}

.playlist-head a:hover {
    color: #000;
    transition: .2s;
}

.playlist-head h4 {
    font-size: 1.8rem;
    color: #000;
}

.playlist {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    width: 90%;
    font-size: 1.2rem;
    padding: 1rem 0;
    margin-left: 1rem;
}

.playlist-list__title {
    height: 5%;
    font-size: 1rem;
}

.playlist__number {
    width: 1.5rem;
    min-width: 1.5rem;
}

.playlist__title {
    width: 25rem;
    min-width: 17rem;
}

.playlist__artist {
    width: 12rem;
    min-width: 12rem;

}

.playlist__time {
    flex: 1;
    text-align: right;
    padding-right: 2rem;
}

.playlist--hover:hover {
    position: relative;
    z-index: 1;
    background-color: #fff;
    border-radius: .8rem;
    padding: 1rem 1rem;
    transform: scale(1.02);
    cursor: pointer;
    transition: .1s linear;
}

.playlist--hover.active {
    position: relative;
    z-index: 1;
    background-color: #fff;
    border-radius: .8rem;
    padding: 1rem 1rem;
    transform: scale(1.02);
    cursor: pointer;
}

/*======================================
            PLAY-SONGS
======================================*/
.play-song {
    position: absolute;
    height: 10%;
    width: 46%;
    background-color: #fff;
    padding: 0 1.5rem 1.5rem;
    border-radius: 0.5rem;
    left: 27%;
    bottom: 3%;
}

.play-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    padding: 1.5rem 0 1rem;
}

.play-control__act {
    width: 10rem;
}

.play-control__act i {
    padding: 0 .5rem;
    cursor: pointer;
}

.play-control__volume {
    width: 10rem;
    display: flex;
    align-items: center;
}

.play-control__volume .volume {
    appearance: none;
    width: 6rem;
    height: .2rem;
    background-color: #ddd;
    margin: 0 .5rem;
    cursor: pointer;
}

.play-control__volume .volume::-webkit-slider-thumb {
    appearance: none;
    width: .8rem;
    background-color: #fff;
    border: .2rem solid #000;
    border-radius: 50%;
    height: .8rem;
}

.play-control__main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.play-control__main i {
    cursor: pointer;
}

.fas.fa-volume-down {
    cursor: pointer !important;
}

.main-icon {
    color: #000;
    font-size: 1.3rem;
}

.main-icon--big {
    font-size: 2.5rem
}

.range {
    flex: 1;
    appearance: none;
    height: .2rem;
    background-color: #ddd;
    cursor: pointer;
}

.range::-webkit-slider-thumb {
    appearance: none;
    background-color: #fff;
    height: .8rem;
    width: .8rem;
    border-radius: 50%;
    border: .2rem solid #000;
    cursor: pointer;
}

.play-seekbar {
    display: flex;
    align-items: center;
    gap: 1.5rem
}

.timer__left,
.timer__right {
    width: 1.6rem;
    max-width: 1.6rem;
}

.range:focus,
.volume:focus {
    outline: none;
}

.play-repeat,
.shuffle-song,
#heart {
    transition: .5s;
}