<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/responsive.css">
    <link rel="stylesheet" href="./img/">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap"
        rel="stylesheet">
    <title>Spotifake Music</title>
</head>

<body>
    <div id="main">
        <div id="container">
            <!--
            =======================NAVBAR==========================
        -->
            <div id="navbar">
                <div class="navbar-container">
                    <header>
                        <span class="check">
                            <span class="ball"></span>
                        </span>
                        <!-- <i class="fas fa-stream js-hide-navbar"></i> -->
                    </header>
                    <div class="logo">
                        <i class="navbar__logo fab fa-forumbee"></i>
                        <span class="navbar__primary-text">Spotifake </span><span>Music</span>
                    </div>
                    <div class="navbar-content">
                        <nav>
                            <li class="navbar-content__icon">
                                <a href="#"><i class="fas fa-home"></i>Home</a>
                            </li>
                            <!-- <li class="navbar-content__icon">
                                <a href="#"><i class="fas fa-chart-line"></i>Trend</a>
                            </li> -->
                            <li class="navbar-content__icon">
                                <a href="./content/feed.html"><i class="fas fa-compass"></i>Discover</a>
                            </li>
                        </nav>

                        <nav>   
                        <p class=" navbar-content__title">Discover</p>
                        <ul>
                            <li class="navbar-content__icon">
                                <a href="#"><i class="far fa-newspaper"></i>New and Notable</a>
                            </li>
                            <li class="navbar-content__icon">
                                <a href="#"><i class="fas fa-calendar-alt"></i>Realese Calendar</a>
                            </li>
                            <li class="navbar-content__icon">
                                <a href="#"><i class="fas fa-ticket-alt"></i>Events</a>
                            </li>
                        </ul>
                    </nav>

                        <nav>
                            <p class=" navbar-content__title">Your Collection</p>
                            <ul>
                                <li class="navbar-content__icon">
                                    <a href="#"><i class="fas fa-heart"></i>Favorite Songs</a>
                                </li>
                                <li class="navbar-content__icon">
                                    <a href="#"><i class="fas fa-users"></i>Artist</a>
                                </li>
                                <li class="navbar-content__icon">
                                    <a href="#"><i class="fas fa-star"></i>Albums</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="navbar-user">
                    <div class="navbar-user__container row">
                        <div class="col-6 d-flex justify-content-center">
                            <a href="./content/signup.html"><button type="button" class="btn btn-light">Sign Up</button></a>
                        </div>
                        <div class="col-6 d-flex justify-content-center">
                            <a href="./content/signIn.html"><button type="button" class="btn btn-dark">Sign In</button></a>
                        </div>
                        <!-- <div class="user-avt">
                            <img src="./img/User.png" alt="">
                        </div>
                        <div class="user-name">No Name</div>
                        <a href=""><i class="fas fa-chevron-right"></i></a> -->
                    </div>
                </div>
            </div>

            <!--
            ====================MAIN_CONTENT=====================
        -->
            <div id="main-content">
                <header>
                    <nav class="main-content__header-nav">
                        <i class="fas fa-bars bars-left"></i>
                        <!-- <i class="fas fa-arrow-left"></i>
                        <i class="fas fa-arrow-right"></i> -->
                    </nav>
                    <div class="main-content__search-form">
                        <i class="fas fa-search search-btn"></i>
                        <input type="text" class="search-input" placeholder="Search for artist, songs.....">
                    </div>
                    <i class="fas fa-bars bars-right"></i>
                </header>
                <div class="my-playlist">
                    <div class="playlist-head">
                        <h4>Popular songs</h4>
                        <!-- <a class="btn-hover">Show all</a> -->
                    </div>
                    <div class="playlist playlist-list__title">
                        <p class="playlist__number">#</p>
                        <p class="playlist__title">TITLE</p>
                        <p class="playlist__artist">ARTIST</p>
                        <p class="playlist__time">TIME</p>
                    </div>
                    <div class="playlist-list">
                       
                    </div>
                </div>

                <div class="play-song">
                    <div class="play-control">
                        <div class="play-control__act">
                            <i class="far fa-heart" id='heart'></i>
                            <i class="fas fa-music"></i>
                            <i class="fas fa-expand-alt"></i>
                        </div>
                        <div class="play-control__main">
                            <i class="fas fa-redo-alt play-repeat"></i>
                            <i class="fas fa-fast-backward play-backward main-icon"></i>
                            <!-- <i class="fas fa-pause-circle pause-icon main-icon main-icon--big"></i> -->
                            <span class="play-inner">
                                <i class="fas fa-play-circle play-icon main-icon main-icon--big"></i>
                            </span>
                            <i class="fas fa-fast-forward play-forward main-icon"></i>
                            <i class="fas fa-random shuffle-song"></i>
                        </div>
                        <div class="play-control__volume">
                            <i class="fas fa-volume-down"></i>
                            <input type="range" id="volume" class="volume">
                        </div>
                    </div>
                    <div class="play-seekbar">
                        <div class="timer__left">0:00</div>
                        <input type="range" name="range" id="range" class="range" />
                        <audio src="./mp3/ntt.mp3" id="song"></audio>
                        <div class="timer__right">3.00</div>
                    </div>
                </div>
            </div>

            <!--
            ====================SIDE-BAR=========================
        -->
            <div id="sidebar">
                <div class="sidebar__shortcuts">
                    <p class="sidebar__shortcuts-title">Trending Artists
                        <i class="fas fa-stream js-hide-sidebar"></i>
                    </p>
                    <!--    ARTIST 1    -->
                    <div class="sidebar__favorite-list">
                        <div class="artist-info__avt">
                            <img src="./img/tóc-tiên.jpg" alt="">
                        </div>
                        <div class="artist-info">
                            <h4 class="artist-info__name">Tóc Tiên</h4>
                            <p class="artist-info__song">6 songs in library</p>
                        </div>
                        <i class="fas fa-ellipsis-h"></i>
                    </div>

                    <!--    ARTIST 2    -->
                    <div class="sidebar__favorite-list">
                        <div class="artist-info__avt">
                            <img src="./img/min.jpg" alt="">
                        </div>
                        <div class="artist-info">
                            <h4 class="artist-info__name">Min</h4>
                            <p class="artist-info__song">5 songs in library</p>
                        </div>
                        <i class="fas fa-ellipsis-h"></i>
                    </div>
                </div>

                <div class="sidebar__favorite">
                    <p class="sidebar__favorite-title">Favorite Artists</p>
                    <!--    ARTIST 1    -->
                    <div class="sidebar__favorite-list">
                        <div class="artist-info__avt">
                            <img src="./img/tóc-tiên.jpg" alt="">
                        </div>
                        <div class="artist-info">
                            <h4 class="artist-info__name">Tóc Tiên</h4>
                            <p class="artist-info__song">6 songs in library</p>
                        </div>
                        <i class="fas fa-ellipsis-h"></i>
                    </div>

                    <!--    ARTIST 2    -->
                    <div class="sidebar__favorite-list">
                        <div class="artist-info__avt">
                            <img src="./img/min.jpg" alt="">
                        </div>
                        <div class="artist-info">
                            <h4 class="artist-info__name">Min</h4>
                            <p class="artist-info__song">5 songs in library</p>
                        </div>
                        <i class="fas fa-ellipsis-h"></i>
                    </div>
                </div>

                <div class="sidebar__suggest-album">
                    <div class="suggest-album">
                        <div class="suggest-album__img-container">
                            <img src="./img/ngô-lan-hương.jpg" alt="">
                        </div>
                        <div class="suggest-album__content">
                            <div class="suggest-album__info">
                                <h4>Anh muốn đưa em về không</h4>
                                <p>Ngô Lan Hương</p>
                            </div>
                            <i class="far fa-plus-square"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- Optional JavaScript -->
    <script src="./js/main.js"></script>
</body>

</html>